ul {
  padding-top: 8px;
  margin: 0px;
  list-style: none;

}

ul.languages {
  margin-left: -10px;
}

#id ul {
  list-style: none;
  margin: 0;
  padding-top: 8px;
  float: left;
}

div#list li {
  display: inline-block;
  padding: 2px;
  text-align: left;
}

div#list {
  padding :0;
}


td {
  font-size: 12px;
  padding-right: 10px;
}

.copyright {
  margin-top: 10px;
}

.copyright td {
  color: grey;
}

button.more{
  box-sizing: content-box;

}
