div.main{
  background-color: #edf0f5

}

p.connect{
  font-size:18px;
  margin-top:35px;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing:.14px;
  font-size: 25px;
}

p img.img {
  margin:0px 10px 10px 0px;
  margin
}

p.sign_up {
  margin-top:15px;
  font-size: 28px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

input.form-control {
  width: 377px;
}
a:hover {
  color: #69a74e;
}

.btn-lg {
  background-color: #69a74e;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  border-color: #2c5115;
}


button#submit.btn.btn-lg{
  letter-spacing: 0.13px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  border-image-repeat: stretch;

}
input#first_name.form-control, input#last_name.form-control {
  width: 186px;
}

#account {
  color: grey;
}
div.gender {
  margin-top: 10px;
}

hr {
  border-top: 1px solid #e6e1e1;
}
